
body {
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    text-shadow: 1px 1px #e7ecef;
}

h4 {
    text-shadow: 1px 1px #e7ecef;
}

.avatar {
    width: 150px;
    box-shadow: 2px 2px 5px #2b2839;
}

.card {
    border: 1px solid #8b8c89;
    border-radius: 5px;
    margin: 0px auto;
    display: flex;
    padding: 20px;
    width: 400px;
    justify-content: space-around;
    text-align: center;
    color: #2b2839;
    background: #a3cef1;
    border-bottom: 10px solid #274c77;

}

.border-blue {
    border: 1px dotted blue;
}